:root{ /*Identidad visual*/
--color1-blanco: #FFFFFF;
--color2-vobscuro: #184031;
--color3-vpasto: #5A7302;
--color4-vclaro: #C5F280;
}

body{
    font-family:'Oswald',sans-serif;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald',sans-serif;
  font-size: 20vw;
  color:white;
width: 50%; /* Optional: ensures the text container spans the width of the image wrapper */
height: 50%;
}

.lateral{
    background-color: var(--color3-vpasto);
}